.container {
  display: block;
  background-color: gray;
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.rowButton {
  display: block;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  padding-left: 416.6px;
}

.numButton {
  height: 60px;
  width: 100px;
  font-weight: bolder;
  font-size: x-large;
  background-color: lightgray;
  border-color: black;
}

.calButton {
  height: 60px;
  width: 100px;
  font-weight: bolder;
  font-size: x-large;
  background-color: lightgray;
  border-color: black;
}

.screenTop {
  height: 150px;
  width: 400px;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.spcButton{
  height: 60px;
  width: 100px;
  font-weight: bolder;
  font-size: x-large;
  background-color: white;
  border-color: black;
}