.App {
  text-align: center;
}

.app {
  padding:20px 0px 0px 40px;
  height: 400px;
  width: 500px;
  border: 1px solid black;
}

.container{
  padding: 200px 500px 0px 200px;
}
.header{
  font-size: 25px;
  margin-bottom: 20px;
  border: none;
  width: 230px;
  padding:20px 10px 20px 10px;
  background-color:gainsboro;
}

.input {
  padding: 10px 300px 10px 0px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.signInSubmit,
.signUpSubmit {
  padding: 20px 205px 20px 210px;
  margin-top: 20px;
  background-color: green;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
.check_forgot{
  display: flex;
}

.forgotPassword{
  margin-left: 220px;
  border: none;
}

.forgotPasswordB{
  background-color: white;
  border: none;
}